LibDat/DatDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) by MIchael (MIPT) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- resctriction of field value types -->
	<xs:simpleType name="valueTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bool"/>
			<xs:enumeration value="byte"/>
			<xs:enumeration value="short"/>
			<xs:enumeration value="int"/>
			<xs:enumeration value="Int64"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- resctriction of field pointer types -->
	<xs:simpleType name="pointerTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="String"/>
			<xs:enumeration value="StringPointer"/>
			<xs:enumeration value="Int32"/>
			<xs:enumeration value="Int32List"/>
			<xs:enumeration value="UInt32List"/>
			<xs:enumeration value="UInt64List"/>
			<xs:enumeration value="StringOrInt32List"/>
			<xs:enumeration value="StringOrUInt32List"/>
			<xs:enumeration value="StringOrUInt64List"/>
			<xs:enumeration value="StringOrStringPointer2Byte"/>
			<!-- 4-byte pointers -->
			<!-- 8-byte pointers -->
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="fieldAttributes">
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string"/>
	</xs:attributeGroup>
	<!--describe field, that contains value-->
	<xs:element name="value">
		<xs:complexType>
			<xs:attributeGroup ref="fieldAttributes"/>
			<xs:attribute name="type" type="valueTypes" use="required"/>
		</xs:complexType>
	</xs:element>
	<!--describe field, that contains pointer to data section-->
	<xs:element name="pointer">
		<xs:complexType>
			<xs:attributeGroup ref="fieldAttributes"/>
			<xs:attribute name="type" type="pointerTypes" use="required"/>
			<xs:attribute name="isUser" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:group name="fieldGroup">
		<xs:choice>
			<xs:element ref="value"/>
			<xs:element ref="pointer"/>
		</xs:choice>
	</xs:group>
	<xs:element name="record">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="fieldGroup" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="length" type="xs:nonNegativeInteger" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="records"/>
	<xs:element name="typeDef">
		<xs:complexType>
			<xs:attribute name="name" use="required"/>
			<xs:attribute name="width" use="required"/>
			<xs:attribute name="pointerType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="definitions">
		<xs:complexType>
			<xs:all>
				<xs:element name="records" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="record" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="pointerTypes" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="typeDef" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
