LibDat/schemas/DatDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) by MIchael (MIPT) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="bool"/>
				<xs:enumeration value="byte"/>
				<xs:enumeration value="short"/>
				<xs:enumeration value="int"/>
				<xs:enumeration value="Int64"/>
				<!--	insert more here -->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pointer">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Int32Index"/>
				<xs:enumeration value="UInt32Index"/>
				<xs:enumeration value="UInt64Index"/>
				<xs:enumeration value="DataIndex"/>
				<xs:enumeration value="StringIndex"/>
				<xs:enumeration value="UserStringIndex"/>
				<xs:enumeration value="IndirectStringIndex"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string"/>
				<xs:element ref="type"/>
				<xs:element ref="pointer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="definition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="record_length" type="xs:nonNegativeInteger" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="dat_id" type="xs:string"/>
	<xs:element name="definitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="definition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
